.article_grid_one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  article {
    &:first-of-type{
      grid-column: span 2;
    }

    &:last-of-type {
      grid-column: span 2;
    }
  }
}