
@font-face {
  font-family: "Labrit";
  src: url("/fonts/LABRIT.ttf");
}

@font-face {
  font-family: "Traditional Gothic";
  src: url("/fonts/traditional-gothic.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --font-labrit: "Labrit", sans-serif;
  --font-traditional-gothic: "Traditional Gothic", sans-serif;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  background-image: url("/images/paper-texture.jpg");
  background-size: 500px;
  font-family: var(--font-inter);
}

body * {
  border-color: rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
}